{% extends "index/base.html" %}
{% block content %}
    <html>
    <body>

    <div class="container">
        <form action="/management/list_statement" method="get">
            <select name="year">
                <option value="2023">2023년</option>
                <option value="2022">2022년</option>
                <option value="2021">2021년</option>
            </select>
            <select name="employee">
                <option>employee</option>
                <option value="1">Lee</option>
                <option value="2">Kim</option>
                <option value="3">Park</option>

            </select>
            <input type="text" name="month">
            <input type="submit" value="Search">
        </form>
        {% if lists %}
            <p>{{ message }}</p>
            <table class="table table-striped">
                <thead style="border-top: 1px solid #dee2e6;">
                <tr style="border-top: 1px solid black; border-bottom: 1px solid black;" class="text-center">
                    <th style="font-weight: bold; font-size: 16px;">EMPLOYEE</th>
                    <th style="font-weight: bold; font-size: 16px;">START</th>
                    <th style="font-weight: bold; font-size: 16px;">END</th>
                    <th style="font-weight: bold; font-size: 16px;">WORK TIME</th>
                    <th style="font-weight: bold; font-size: 16px;">WAGE</th>
                </tr>
                </thead>
                <tbody>
                {% for abs_id in lists %}
                    <td> {{ abs_id.employee_id }} </td>
                    <td> {{ abs_id.abs_start|date:'Y년 m월 d일/ H : i' }}</td>
                    <td> {{ abs_id.abs_finish|date:'Y년 m월 d일/ H : i' }}</td>
                    <td> {{ abs_id.abs_totalmin }}</td>
                    <td> {{ abs_id.abs_totalwage }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><strong>work time</strong> = {{ total.total_sum }} minute / <strong>salary</strong>
                = {{ total.total_wage }} ₩</p>
        {% else %}
            <p>검색 결과가 없습니다.</p>
        {% endif %}


    </div>
    </body>
    </html>
{% endblock %}